<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lobster|Indie+Flower|Maven+Pro' rel='stylesheet' type='text/css'>

  <title>Anne's Homepage</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Anne Wendy Chen</h1>

    <aside class="left">
      <%= render partial: "shared/profile" %></br></br>
    </aside>

    <article>
      <section>
        <%= render partial: "shared/navbar" %></br></br>
      </section>
      <aside class="right">
        <%= render partial: "shared/links" %></br></br>
      </aside>
    </article>
  <%= yield %>
  </body>

</html>
